body{
	background-color: black;
	color: lime;
	font-family: monospace;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	list-style-position: inside;
}
li{
	padding: 15px;
}
footer{
  margin-bottom: 0;
  padding-bottom: 0;
}
#tab1:hover{
	opacity: 1;
}
#tab2:hover{
	opacity: 1;
}
#tab3:hover{
	opacity: 1;
}
#tab4:hover{
	opacity: 1;
}
#tab1{
	opacity: .7;
	float: left;
	height: 177px;
	margin: 0px;
	padding: 0px;
	width: 16.1%;
	margin-left: 0px;
	display: inline-block;
}
#tab2{
	opacity: .7;
	float: left;
	height: 177px;
	margin: 0px;
	padding: 0px;
	width: 38.29%;
	display: inline-block;
}
#tab3{
	opacity: .7;
	float: left;
	height: 177px;
	margin: 0px;
	padding: 0px;
	width: 24.17%;
	display: inline-block;
}
#tab4{
	opacity: .7;
	float: left;
	height: 177px;
	margin: 0px;
	padding: 0px;
	width: 21.44%;
	display: inline-block;
}

@-webkit-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#cf4a {
  position:relative;
  height:500px;
  width:100%;
  z-index: 0;
  margin:0 auto;
  margin-bottom: 0px;
  padding: 0px;
}
#cf4a img {
  height:500px;
  width:100%;
  position:absolute;
  left:0;
  z-index: 0;
  margin-bottom: 0px;
  padding: 0px;
}
#cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
#cf4a img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
a:visited{
	color: white;
}
a:hover, a.on{
	color: black;
	background-color: lime;
}
#special{
	display: inline;
}
